.header__square-pic {
    height: 568px;
    width: 568px;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: #2F80ED;
    transform: rotate(-15deg);
    animation: rotation_square 20s linear infinite;
}