.footer__column-link {
    text-decoration: none;
    color: white;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
}

.footer__column-link:hover {
    text-decoration: none;
    opacity: 0.4;
    transition: opacity 1s linear 0.5s;
}