@import url(./__triangle/kaufman__triangle.css);

.kaufman {
    background-color: #1F1F1F;
    position: relative;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    display: flex;
}