.kaufman__triangle {
    background-image: url(../../../images/kaufman/triangle.svg);
    background-size: cover;
    width: 877px;
    height: 877px;
    position: absolute;
    z-index: 0;
    top: 0px;
    right: -210px;
    animation: rotation_triangle linear 20s infinite;
}