@import url(./__image/feinman__image.css);
@import url(./__link/feinman__link.css);
@import url(./__subtitle/feinman__subtitle.css);
@import url(./__title/feinman__title.css);

.feinman {
    height: 790px;
    display: flex;
    position: relative;
    flex-direction: column;
    padding-bottom: 100px;
    background-color: #F2F2F2;
}