.khan__buy-link {
    line-height: 42px;
    font-size: 30px;
    font-weight: normal;
    color: #2F80ED;
    text-decoration: none;
}

.khan__buy-link:hover {
    text-decoration: none;
    opacity: 0.4;
    transition: opacity 1s linear 0.5s;
}